<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <title>{{title}}</title>

    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header class="main-header">
      <nav class="navbar">
        <a class="brand" href="/">
          TEMP NAME
        </a>

        <div class="nav-links">
          <a href="/">Inicio</a>
          <a href="/products">Productos</a>
        </div>
      </nav>
    </header>

    <main class="container">
      {{{body}}}
    </main>

    <footer class="main-footer">
      <p>Proyecto final Backend I</p>
    </footer>
  </body>
</html>